## Deliverable 3. Create a Travel Itinerary Map.

In [115]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key
import gmaps.datasets

# Configure gmaps
gmaps.configure(api_key=g_key)

In [7]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df = pd.read_csv("Vacation_Search/City_Data")
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,1,Rikitea,PF,78.91,few clouds,-23.1203,-134.9692,Pension Maro'i
1,5,Port Keats,AU,80.46,broken clouds,-14.2500,129.5500,TDC Village (Hundred Man Camp)
2,7,Jacareacanga,BR,77.09,overcast clouds,-6.2222,-57.7528,Casa do IanðŸ˜Ž
3,8,Souillac,MU,78.80,broken clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
4,10,Kapaa,US,80.60,few clouds,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Description</dt><dd>{Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [142]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== "Port Hedland"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Port Hedland"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Karratha"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Carnarvon"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Geraldton"] 
vacation_stop1
vacation_stop2
vacation_stop3

,Unnamed: 0,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
104,463,Geraldton,AU,78.8,overcast clouds,-28.7667,114.6,Broadwater Mariner Resort

In [161]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start =  (vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0])
end =  (vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0])
stop1 = (vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0])
stop2 = (vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0])
stop3 = (vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0])
start

(-20.3167, 118.5667)

In [155]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=3)
travel = gmaps.directions_layer(start, end,waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(travel)
fig

Figure(layout=FigureLayout(height='420px'))

In [149]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,112,Port Hedland,AU,89.60,few clouds,-20.3167,118.5667,The Esplanade Hotel
1,651,Karratha,AU,89.29,scattered clouds,-20.7377,116.8463,ibis Styles Karratha
2,192,Carnarvon,AU,80.60,overcast clouds,-24.8667,113.6333,Hospitality Carnarvon
3,463,Geraldton,AU,78.80,overcast clouds,-28.7667,114.6000,Broadwater Mariner Resort

In [150]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Description</dt><dd>{Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [151]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))